<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diary.dao.UserDao">
	<insert id="registerSubmit" parameterType="com.diary.vo.User">
         insert into user
         (username,password)
         values
         (#{username},#{password})
    </insert>
    
    <select id="loginSubmit" resultType="com.diary.vo.User"  parameterType="com.diary.vo.User">
    
    	select * from user
    	where username=#{username} and password=#{password}
    
    </select>
    
    <select id="doCheckname" resultType="int">
    	select count(*)from user where username=#{name}
    </select>
    
</mapper>



